:root {
	--background-1: #97caef;
	--background-1-88: #97caefe1;
	--background-2: #cafefe;
	--background-2-50: #cafefe80;
	--background-3: #242424;
	--background-4: #fc4445;
	--text-1: #3d405b;
	--text-2: #ffffff;
	--color-1: #55bcc9;
	--color-2: #3feee6;
	--color-3: #ff0001;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	flex: 1 0;
	background-color: var(--background-1);
}
