@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&display=swap");

:root {
	--background-1: #f9f9f9;
	--background-1-88: #f9f9f9ee;
	--background-2: #e5e5e5;
	--background-2-50: #e5e5e580;
	--background-3: #242424;
	--background-4: #fc4445;
	--background-5: #ffd52e;
	--bg-transparent: transparent;
	--bg-border: #00000052;
	--bg-border-2: #0000001a;
	--text-1: #3d405b;
	--text-1-80: #3d405bcc;
	--text-2: #ffffff;
	--text-2-80: #ffffffce;
	--color-1: #f9f9f9c9;
	--color-2: #3feee6;
	--color-3: #ff0001;
}
body {
	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-family: "Mali", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	transition: background-color 0.7s ease-in-out, color 0.3s ease-in-out;
}

#root {
	flex: 1 0;
	background-color: var(--background-1);
}

[data-theme="dark"] {
	--background-1: #202124;
	--background-1-88: #202124fa;
	--background-2: #454548;
	--background-2-50: #4545484b;
	--background-3: #343736;
	--background-4: #fc4445;
	--background-5: #2c2d2f;
	--bg-transparent: transparent;
	--bg-border: #f5f5f534;
	--bg-border-2: #e1e1e138;
	--text-1: #eeeeee;
	--text-1-80: #eeeeeecc;
	--text-2: #ffffff;
	--text-2-80: #ffffffce;
	--color-1: #2c2d2fbe;
	--color-2: #3feee6;
	--color-3: #ff0001;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}
