.title {
	color: var(--text-1);
}

.main {
	min-height: 70vh;
	background-color: var(--background-2-50);
	width: 90%;
	border-radius: 16px;
	margin-bottom: 1rem;
	padding: 2rem 3rem;
	display: flex;
	// align-items: center;
	// justify-content: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

	@media screen and (max-width: 767px) {
		width: 95%;
		padding: 2rem 0.85rem;
	}
}

.parent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3.5rem;
	position: relative;

	@media screen and (max-width: 767px) {
		padding-top: 1rem;
	}

	h1 {
		width: 90%;
		font-size: 2.2rem;
		margin-bottom: 1.75rem;

		@media screen and (max-width: 767px) {
			font-size: 1.85rem;
		}
	}
}

.image {
	width: 50%;
	height: fit-content;

	@media screen and (max-width: 1207px) {
		width: 80%;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
	}
}

.imageTitle {
	position: absolute;
	color: var(--color-3);
	top: 35vh;
	font-size: 5rem;
}
