.parent {
	position: relative;
	background-color: var(--background-2);
	border: 1px solid var(--bg-border-2);
	width: 100%;
	height: 10.5rem;
	border-radius: 16px;
	box-shadow: 0 6px 6px #00000010;

	transform: scale(1);
	transition: transform ease-in 0.15s;

	&:hover {
		cursor: pointer;
		transform: scale(1.01);
	}

	.cover {
		width: 100%;
		height: inherit;
		position: absolute;
		border: 1px solid var(--bg-border-2);
		z-index: 3;
		background-color: var(--color-1);
		border-radius: inherit;
		top: -0.27rem;
		left: -0.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: inherit;

		@media (prefers-color-scheme: dark) {
			h1 {
				color: var(--text-1);
			}
		}
	}
}

.container {
	width: 12.5%;
	order: 2;
	margin: 2.95rem 2rem;
	position: relative;
	&:last-child {
		order: 1;
		margin-left: 0;
	}

	&:nth-child(2) {
		margin-right: 0;
	}

	@media screen and (max-width: 1207px) {
		width: 18%;
	}

	@media screen and (max-width: 767px) {
		width: 47%;
		margin-left: 0;
		margin-right: 0;
	}

	.title {
		width: 100%;
		margin-top: 0.25rem;
		color: var(--text-1);
		span {
			font-size: 1.25rem;
		}
	}
}

.edit,
.delete {
	position: absolute;
	top: -2.35rem;
	right: 0.25rem;
	z-index: 1;
	transition: all ease-in-out 0.2s;
	&:hover {
		top: -3.5rem;
	}
	button {
		cursor: pointer;
		background-color: var(--background-3);
		color: var(--text-2);
		padding: 0.5rem 0.5rem;
		border: none;
		border-radius: 10px;
		font-weight: 600;
		font-size: 1rem;

		svg {
			width: 2.25rem;
			height: 2.25rem;
			.path {
				fill: var(--text-2);
			}
		}
	}
}

.edit {
	left: -0.25rem;
	right: unset;

	svg {
		background-color: var(--background-3);
		.path {
			fill: var(--text-2);
		}
	}
}
