.addBtn {
	cursor: pointer;
	position: absolute;
	right: 6%;
	font-size: 2.5rem;
	width: 2rem;
	height: 2rem;
	top: 1.2em;
	padding: 1.75rem;
	border-radius: 100px;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
	background-color: var(--background-2);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(1);
	transition: transform ease-in-out 0.2s;

	@media screen and (max-width: 767px) {
		// top: 6.55%;
		top: 0.95em;
		right: 6.5%;
	}

	&:hover {
		transform: scale(1.05);
	}
	span {
		position: absolute;
		top: -4.5%;
	}
}
